@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: var(--primary-background);

/*
    --primary-background: #213555;
    --secondary-background: #3E5879;
    --complimentary-background-dark: #D8C4B6;
    --complimentary-background-light: #F5EFE7;
*/
    --primary-background: #1E201E;
    --secondary-background: #3C3D37;
    --complimentary-background-dark: #697565;
    --complimentary-background-light: #ECDFCC;

    --plain-white: #FFFFFF;
    --marked-read: #43af34;
}

body {
    overflow: hidden;
}

button {
    cursor: pointer
}

.wrapper {
    width: 100%;
    max-height: calc(100vh);
    margin: auto;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;
}


.main {
    color: var(--plain-white);
    width: clamp(300px, 1200px, 100%);
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main h2 {
    padding: 1rem 0.5rem;
    font-size: 2rem;
}

.book-details-pane {
    position: absolute;
    height: 100vh;
    width: 600px;
    right: -600px;
    top: 0;
    box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    background-color: var(--complimentary-background-light);
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .book-details-pane {
        width: 100%;
    }
  }

.book-details-pane.active {
    right: 0;
}

.book-details {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

svg.btn {
    cursor: pointer;
    
}

.hide-panel {
    width: 100%;
    height: 100%;
    display: flex;
}


.book-details-pane h3 {
    font-size: 2rem;
    font-weight: 800;
}

.book-author {
    font-size: 1.6rem;
    font-weight: 500;
    color: #636363;
}

.book-desc {
    font-size: 1.2rem;
    font-weight: 400;
}


#set-read {
    padding: 0;
    width: 7rem;
    height: 2rem;
    border-radius: 7px;
}

#set-read:hover {
    opacity: 0.7;
}

.read-status-section {
    display: flex;
    align-items: end;
    justify-self: start;
    gap: 1rem;
}

.read-status {
    font-size: 1.9rem;
    transition: all ease 0.2s;
}

.header {
    color: var(--plain-white);
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#book-search {
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #e6e6e6;
}

.tabs ul {
    padding: 0 0.5rem;
    display: flex;
    list-style: none;
    gap: 1rem;

}

.tabs li {
 cursor: pointer;
}


#add-book-btn {
    cursor: pointer;
    fill: var(--plain-white);
    opacity: 0.9;
}

#add-book-btn:hover {
    opacity: 1;
}


.books-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
    overflow-y: auto;
    justify-items: center;
}

.dummy-card {
    width: 260px;
    height: 340px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #ffffff17;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: grid;
    gap: 0.5rem;
    transition: border 0.2s ease;
    cursor: pointer;
    opacity: 0.4;
    place-items: center;
    grid-column: span 1;
}

.dummy-card:hover {
    opacity: 1;
}

.book-card {
    width: 260px;
    height: 340px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: var(--complimentary-background-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.9;
}


.book-card:hover {
    opacity: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    scale: 1.005;
}

.book-card.unfocussed {
    filter: blur(4px);
}


.card-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    fill: var(--plain-white);
}


.card-delete-btn, #modal-close-btn {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0;
    border: none;
    border-radius: 5px;
    color: var(--plain-white);
    background-color: #b92525;
    font-size: 0.7rem;
    text-align: center;
    justify-self: flex-end;
    display: grid;
    place-items: center;
    outline: none;
}
.card-delete-btn, .unread-icon, #modal-close-btn {
    opacity: 0.7;
}

.read-section {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.read-section p {
    font-size: 1.4rem;
}

.read-icon {
    fill: var(--marked-read);
}

.card-delete-btn:hover, .read-icon:hover, .unread-icon:hover, #modal-close-btn {
    opacity: 1;
}


.card-alt-text {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}

.card-alt-text p {
    color: var(--primary-background);
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

#new-book-modal {
    width: 330px;
    height: 490px;
    background-color:#3c3d37f6;
    color: var(--plain-white);
    padding: 0;
    margin: auto;
    margin-top: 20vh;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 1);
    overflow-y: auto;
}

#new-book-modal input:not(input[type="checkbox"]), textarea {
    border: none;
    outline: none;
    color: #1E201E;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;

}

.modal-content {
    padding: 1.5rem;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 0.4rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content textarea {
    resize: none;
}

.modal-content fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}


fieldset.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#book-submit {
    border-radius: 20px;
    padding: 0.2rem 1rem;
}

#new-book-modal input.error:not([type="checkbox"]),#new-book-modal textarea.error {
    border: 2px solid red;
  }


/*Checkbox styles by Stephanie Eckles 2021 */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {

    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    box-shadow: inset 1em 1em var(#c17cd6);
    background-color: #8326a0;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}


input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--marked-read);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--marked-read);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }